.history-table-container {
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

.course-summary ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.course-summary li {
  display: inline-block;
  background-color: #e3eefa;
  color: black;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 500;
}

.history-filter-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-left: auto;
  margin-right: 120px;
  width: fit-content;
  height: 45px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.history-filter-toggle span {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 4px;
  color: #1976d2;
}

.history-filter-toggle span :hover {
  color: #5eacff;
}

.history-title {
  font-size: 28.8px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
}

.course-section {
  margin-bottom: 3rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.course-section h3 {
  margin-bottom: 0.5rem;
}

.historyname-filter {
  display: flex;
}

.historypage-course-filter {
  display: flex;
  gap: 10px;
  margin-right: -130px;
}

.history-progress-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.history-progress-table th,
.history-progress-table td {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

.history-progress-table th {
  background-color: #e3eefa;
  color: black;
  font-weight: bold;
}

.table-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.status-booked {
  color: green;
  font-weight: bold;
}

.status-registered {
  color: orange;
  font-weight: bold;
}
.status-completed {
  color: green;
  font-weight: bold;
}
