.progress-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 20px;
}

.progress-title {
  font-size: 28.8px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  text-align: left;
  padding-left: 10px;
}

.course-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.course-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.course-card > * {
  margin-bottom: 6px;
}

.course-card > *:last-child {
  margin-bottom: 0;
}

.course-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 4px 0;
}

.toggle-btn,
.close-btn {
  margin-top: auto;
  padding: 10px 16px;
  border: none;
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progresspage-course-filter {
  display: flex;
  margin-right: 30px;
  margin-top: 22px;
  gap: 15px;
}

.close-btn {
  width: 110px;
  height: 45px;
  margin-right: -130px;
}

.toggle-btn:hover,
.close-btn:hover {
  background-color: #0056b3;
}

.progress-table-page {
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 0.25px solid #e0e0e0;
  width: 1190px;
}

.progress-table-page-top {
  display: flex;
  justify-content: space-between;
}

.progress-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.progress-table th,
.progress-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.progress-table th {
  background-color: #e3eefa;
  font-weight: bold;
  color: black;
}

.table-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.status-booked {
  color: green;
  font-weight: bold;
}

.status-registered {
  color: orange;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .course-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .course-cards {
    grid-template-columns: 1fr;
  }
}
